<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Development">
        <script src="~/lib/systemjs/system.src.js"></script>
        <script src="~/lib/rxjs/Rx.js"></script>
        <script src="~/lib/react/react.js"></script>
        <script src="~/lib/react/react-dom.js"></script>
    </environment>
</head>
<body>
    <div class="container body-content text-center">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>